In [1]:
import sqlite3
import pandas as pd

In [2]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [3]:
def modify_class(query):
    try:
        sqliteConnection = sqlite3.connect('ArticlesDatabase.db')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        cursor.execute(query)
        sqliteConnection.commit()
        print("Python Variables updated successfully in articles_link_tb")
        
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to update Python variable into sqlite table", error)
    finally:
        if sqliteConnection:
            sqliteConnection.close()
            print("The SQLite connection is closed")

In [19]:
query = """UPDATE articles_tb SET label = "Elections" 
WHERE label = "Lok Sabha Election" 
OR  label = "Rajasthan 2018"
OR label = "Chhattisgarh 2018" 
OR label = "Gujarat 2017" 
OR label = "Jharkhand" 
OR label = "Madhya Pradesh 2018" 
OR label= "Haryana" 
OR label = "Tamil Nadu 2016" 
OR label = "Uttar Pradesh 2017" 
OR label= "Delhi 2020" 
OR label= "Karnataka 2018" 
OR label= "West Bengal Assembly Elections 2016"
OR label= "Assembly Elections" 
OR label = "Arunachal Pradesh"
OR label = "Bihar" 
OR label = "Assam" 
OR label = "Himachal Pradesh 2017" 
OR label = "Punjab 2017"
OR label = "Uttarakhand 2017"
OR label = "Odisha" 
OR label = "Manipur 2017"
OR label = "Assam 2016" 
OR label = "Goa 2017" 
OR label = "Tripura 2018" 
OR label = "Sikkim" 
OR label = "Puducherry Assembly Elections 2016" 
OR label = "Meghalaya 2018" 
OR label = "Nagaland 2018" 
OR label = "Mizoram 2018"
OR label = "Telangana 2018"
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [8]:
query = """UPDATE articles_tb SET label = "Education" 
WHERE label = "Careers" 
OR label = "Colleges" 
OR label = "Schools" """

modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [9]:
query = """UPDATE articles_tb SET label = "Cricket" 
WHERE label = "Indian Premier League" 
OR label = "World Cup"  """

modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [10]:
query = """UPDATE articles_tb SET label = "International" 
WHERE label = "World" 
OR label = "South Asia" """

modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [11]:
query = """UPDATE articles_tb SET label = "Sci-Tech" 
WHERE label = "Science" 
OR label = "Technology" 
OR label = "Internet" 
OR label = "Gadgets" """

modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [12]:
query = """UPDATE articles_tb SET label = "Entertainment" 
WHERE label = "Dance" 
OR label = "Music" 
OR label = "Art" 
OR label = "Movies" 
OR label = "Theatre"
OR label = "Cinema" 
OR label = "Television" 
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [13]:
query = """UPDATE articles_tb SET label = "Life & Style" 
WHERE label = "Fashion" 
OR label = "Fitness" 
OR label = "Travel" 
OR label = "Homes And Gardens" 
OR label = "Luxury"
OR label = "Food" 
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [14]:
query = """UPDATE articles_tb SET label = "Society" 
WHERE label = "Faith" 
OR label = "History & Culture" 
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [21]:
query = """UPDATE articles_tb SET label = "Business" 
WHERE label = "Industry" 
OR label = "Economy" 
OR label = "Agri-Business" 
OR label = "Budget 2021" 
OR label = "Markets"
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [16]:
query = """UPDATE articles_tb SET label = "Motorsport" 
WHERE label = "Formula One" 
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [17]:
query = """UPDATE articles_tb SET label = "Books" 
WHERE label = "Authors" 
"""
modify_class(query)

Connected to SQLite
Python Variables updated successfully in articles_link_tb
The SQLite connection is closed

In [ ]:
query = """UPDATE articles_tb SET label = "Other Sports" 
WHERE label = "Races" 
OR label = "Motorsport" 
OR label = "Athletics" 
OR label = "Hockey"
"""
modify_class(query)